In [3]:
import sqlite3
import pandas as pd

# Create an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create a sample table
cursor.execute('''
CREATE TABLE employees (
    id INTEGER PRIMARY KEY,
    name TEXT,
    department TEXT,
    salary REAL,
    hire_date TEXT
)
''')

# Insert sample records
employees_data = [
    (1, 'Alice', 'HR', 55000, '2020-05-21'),
    (2, 'Bob', 'Engineering', 75000, '2019-03-15'),
    (3, 'Charlie', 'HR', 55000, '2021-08-10'),
    (4, 'David', 'Engineering', 80000, '2020-07-23'),
    (5, 'Eve', 'Sales', 50000, '2022-01-11')
]
cursor.executemany('INSERT INTO employees VALUES (?, ?, ?, ?, ?)', employees_data)
conn.commit()

# 1. SELECT all records
print("\nAll Records:")
employees_all = pd.read_sql_query("SELECT * FROM employees", conn)
print(df_all)

# 2. SELECT DISTINCT departments
print("\nDistinct Departments:")
department_distinct = pd.read_sql_query("SELECT DISTINCT department FROM employees", conn)
print(department_distinct)

# 3. DELETE a record where name is 'Charlie'
cursor.execute("DELETE FROM employees WHERE name = 'Charlie'")
conn.commit()

# 4. SELECT with WHERE and AND/OR
print("\nEngineering Department OR salary > 70000:")
Eng_salary = pd.read_sql_query(
    "SELECT * FROM employees WHERE department = 'Engineering' OR salary > 70000",
    conn
)
print(Eng_salary)

# 5. SELECT using BETWEEN (salary range)
print("\nEmployees with salary between 50000 and 75000:")
salary_between = pd.read_sql_query(
    "SELECT * FROM employees WHERE salary BETWEEN 50000 AND 75000",
    conn
)
print(salary_between)

# 6. Read SQL query into Pandas DataFrame
print("\nRead SQL into Pandas DataFrame:")
employees_new = pd.read_sql_query("SELECT * FROM employees", conn)
print(employees_new)

# Close connection
conn.close()

All Records:
   id     name   department   salary   hire_date
0   1    Alice           HR  55000.0  2020-05-21
1   2      Bob  Engineering  75000.0  2019-03-15
2   3  Charlie           HR  55000.0  2021-08-10
3   4    David  Engineering  80000.0  2020-07-23
4   5      Eve        Sales  50000.0  2022-01-11

Distinct Departments:
    department
0           HR
1  Engineering
2        Sales

Engineering Department OR salary > 70000:
   id   name   department   salary   hire_date
0   2    Bob  Engineering  75000.0  2019-03-15
1   4  David  Engineering  80000.0  2020-07-23

Employees with salary between 50000 and 75000:
   id   name   department   salary   hire_date
0   1  Alice           HR  55000.0  2020-05-21
1   2    Bob  Engineering  75000.0  2019-03-15
2   5    Eve        Sales  50000.0  2022-01-11

Read SQL into Pandas DataFrame:
   id   name   department   salary   hire_date
0   1  Alice           HR  55000.0  2020-05-21
1   2    Bob  Engineering  75000.0  2019-03-15
2   4  David  Engineering  80000.0  2020-07-23
3   5    Eve        Sales  50000.0  2022-01-11